<div class="row">
    <div class="col-xs-12">
        <img style="max-height: 250px;" 
        [src]="recipeDetail.imagePath"
         alt="{{recipeDetail.name}}"
          class="img-responsive">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1> {{recipeDetail.name}} </h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="btn-group"
        appDropdown>
            <button type="button" class="btn btn-primary dropdown-toggle"
            >Menage recipe <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a (click)="onAddToShoppingList()" style="cursor: pointer;">to shopping list</a></li>
                <li><a style="cursor: pointer;" (click)="onRecipeEdit()">edit recipe</a></li>
                <li><a style="cursor: pointer;">delete recipe</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        {{recipeDetail.description}}
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <ul class="list-group">
            <li class="list-group-item"
            *ngFor="let ingridient of recipeDetail.ingridients">
            {{ingridient.name}} - {{ingridient.amount}}</li>
        </ul>
    </div>
</div>